

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" href="#">Providers</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" *ngIf="loginService.isUserLoggedIn()"   routerLink="/listProvider" routerLinkActive="active">Liste provider</a>
      <a class="nav-item nav-link" *ngIf="loginService.isUserLoggedIn()"   routerLink="/addProvider" routerLinkActive="active">Ajouter provider</a>
      <a class="nav-item nav-link"  *ngIf="!loginService.isUserLoggedIn()"  routerLink="/login" routerLinkActive="active">Login</a>
      <a class="nav-item nav-link"  *ngIf="loginService.isUserLoggedIn()"   routerLink="/logout" routerLinkActive="active">LogOut</a>
      <a class="nav-item nav-link" routerLink="/register" *ngIf="!loginService.isUserLoggedIn()" routerLinkActive="active">Registration</a>
 
    </div>
  </div>
</nav>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<router-outlet></router-outlet>